.heading-1{
    color:blue ;
    background-color:dodgerblue ;
}
.para-1{
    color: rgb(203, 78, 203);
    background-color:white ;
}
.para-2{
    color: rgb(255, 183, 0);
    background-color:yellow ;
}
.para-3{
    color:black ;
    background-color:lightgreen ;
}






